---
# Original idea found at https://gist.github.com/EntropyWorks/a768b3bc4444146d56be81af05d73fed
#
#   ansible -i inventory.ini add-ssh-keys.yml
#
- name: For each host, scan for its ssh public key
  shell: "ssh-keyscan {{ item }},`dig +short {{ item }}`"
  with_items: "{{ ssh_known_hosts }}"
  register: ssh_known_host_results
  ignore_errors: yes
  tags:
    - ssh

- name: Remove the public key in the '{{ ssh_known_hosts_file }}'
  become_user: "{{ unix_user }}"
  known_hosts:
    name: "{{ item.item }}"
    state: "absent"
    path: "{{ ssh_known_hosts_file }}"
  with_items: "{{ ssh_known_host_results.results }}"
  tags:
    - ssh

- name: Add/update the public key in the '{{ ssh_known_hosts_file }}'
  become_user: "{{ unix_user }}"
  known_hosts:
    name: "{{ item.item }}"
    key: "{{ item.stdout }}"
    state: "present"
    path: "{{ ssh_known_hosts_file }}"
  with_items: "{{ ssh_known_host_results.results }}"
  tags:
    - ssh

# WARNING: Using password-based SSH authentication is insecure
# Consider using SSH keys instead by setting up authorized_keys manually
- name: For each host, ssh-copy-id my ssh public keys to the host
  become_user: "{{ unix_user }}"
  shell: "sshpass -p {{ ansible_ssh_pass }} ssh-copy-id {{ item }}"
  with_items: "{{ ssh_known_hosts }}"
  when: not (( ansible_ssh_pass is undefined ) or ( ansible_ssh_pass is none ) or ( ansible_ssh_pass | trim == ''))
  no_log: true  # Don't log commands containing passwords
  tags:
    - sshcopy